Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.5)
Maintainer: Petter Nordlander <nordlander.petter@gmail.com>
Description: ActiveMQ CLI testing and message management
Depends: default-jre | java6-runtime