Package: fmtn-a
Version: 1.6.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Petter Nordlander <nordlander.petter@gmail.com>
Description: ActiveMQ CLI testing and message management
Depends: java11-runtime-headless | java12-runtime-headless | java13-runtime-headless | java14-runtime-headless | java15-runtime-headless | java16-runtime-headless | java17-runtime-headless | java18-runtime-headless | java19-runtime-headless | java20-runtime-headless | java21-runtime-headless
